@if(member){
  <div class="row">
      <div class="col-4">
          <div class="card">
              <img
               src="{{member.photoUrl||'./assets/user.png'}}"
               alt="{{member.knownAs}}"
               class="card-img img-thumbnail"
              >
              <div class="card-body">
                  <div>
                      <strong>Location:</strong>
                      <p>{{member.city}},{{member.country}}</p>
                  </div>

                  <div>
                      <strong>Age:</strong>
                      <p>{{member.age}}</p>
                  </div>
              </div>
              <div class="card-footer">
                  <div class="btn-group d-flex">
                      <button class="btn" style="background-color: blue; color: white;">Like</button>
                      <button class="btn" style="background-color: orange; color: white;">Message</button>
                  </div>

              </div>

          </div>
      </div>
  </div>
}
