
<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
            <button class="btn btn-primary"
                    btnRadio="Unread" [(ngModel)]="container" (click)="loadMessages">Unread
            </button>

                <button class="btn btn-primary"
                        btnRadio="Inbox" [(ngModel)]="container" (click)="loadMessages">
                        Inbox
                </button>
                    <button class="btn btn-primary"
                            btnRadio="Unread" [(ngModel)]="container" (click)="loadMessages">
                            OutBox
                    </button>


                </div>
            </div>
</div>

@for(message of messageService.paginatedResult()?.items;track message.id){
    <p>{{message.content}}</p>
}
